.back {
    color: var(--color-cta);
    border: 2px solid var(--color-cta);
    height: 50px;
    width: 100%;
    max-width: 370px;
    border-radius: 7px;
   
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
    transition: .2s;
}
 .back:hover {
    background: #f6f6f6;
}


 select.form-control {
    font-family: var(--font-main) !important;
    height: 50px !important;
    width: 100% !important;
    border-radius: 7px !important;
    border: 2px solid #eaeaea !important;
    margin-top: 20px !important;
    padding: 0 25px !important;
    font-size: 15px !important;
    color: var(--color-text-light) !important;
  }